numpy<2
torch
torchvision
huggingface-hub==0.23.2
nemo_toolkit[asr]
nemo_toolkit[nlp]
hydra-core
pytorch_lightning
ipython
tensorboard
omegaconf
librosa
transformers
pandas
sentencepiece
webdataset
inflect
soundfile
sounddevice
